.panel{
	
	
}
.menu{
	border: 1px solid #eee !important;
	margin-top:20px;
	float:left;
	cursor: pointer;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: white;
	margin-left: 5px !important;
}
#main{
	background-color:transparent !important; 

}

.red_font{
	color:red;
}

html{
	background-color: #eee;
	bottom:0;
}

.domain_panel{
	padding:20px 20px 20px 20px !important;
}
#panel-right{
	margin-top:20px;
}
.text-error{
	color:red;
}
#add-node-panel{
	position: relative !important;
}
#nodetable{
	table-layout: fixed !important;
	width:100% !important;
}
#nodetable td{
	word-wrap:break-word !important;
}