{% extends "index.html" %}
{% block adddomain_active %} active {% endblock %}
{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#set_field_btn').click(function(){
				page = $('.nmbr_fld').val();
				if (!isNaN(page)){
					window.location = "/landing/add-domain-bulk/?extra="+page;
				}
				else{
					alert("Input a valid number");
				}
			});
			$('#add_field_btn').click(function(){
				var num_fields = parseInt($("#id_form-TOTAL_FORMS").val());
				$("#id_form-TOTAL_FORMS").val(num_fields+1);
				var row = $("#row1").clone(true).get(0);
				row.setAttribute("id", "row"+(num_fields+1));
				$(row).children().children().each(function(){
					this.id = this.id.replace("0",num_fields);
					this.value = "";
					try{
						this.name = this.name.replace("0",num_fields);

					}
					catch(e){}
				});
				$("#table").append(row);
			});
			$('#remove_field_btn').click(function(){
				var num_fields = parseInt($("#id_form-TOTAL_FORMS").val());
				if(num_fields >2){
					$("#id_form-TOTAL_FORMS").val(num_fields-1);
					$("#row"+num_fields).remove();
					console.log($("#myform").serialize());
				}

			});
		});
	</script>
{% endblock %}
{% block content %}
		<div class="panel panel-primary">
		<div class="panel-heading">Add Domain</div>
		<div class="clearfix visible-xs"></div>
		<div class="panel-body">
			
			<div class="col-md-12">
<tr>
					    	 <!--<td>
								<label>Number of fields: </label>
							</td>
							<td><input class="nmbr_fld" />&nbsp;&nbsp;<a id="set_field_btn" class="btn btn-primary btn-sm">Set # of fields</a></td>-->
							<a class="btn btn-primary btn-sm" id="add_field_btn" href="#">Add Field</a>
							<a class="btn btn-danger btn-sm" id="remove_field_btn" href="#">Remove Field</a>
						</tr>
				<form id="myform" action="/landing/add-domain-bulk/" method="post">
				    <table class="table" id="table">

					{% csrf_token %}
				    	<tr>
				    		<th>Domain</th>
				    		<th>Subdomain</th>
				    	</tr>
				    	{{ formset.management_form }}
				        {% for form in formset %}
				        	<tr id="row{{forloop.counter}}">
				        		<td>{{ form.domain_name }}<p name="form-par-{{forloop.counter}}" class="text-danger">{{ form.domain_name.errors.as_text }}</p></td>
				        		<td>{{ form.availability }}</td>
				        	</tr>

				        	
				        {% endfor %}
				        <div class="bs-callout bs-callout-danger">		<p class="text-danger">{{ formset.non_form_errors.as_text }}</p>
				        </div>
				    </table>
					<input type="submit" class="btn btn-primary btn-sm" value="Add Domains" />
				</form>
			</div>

		</div>
	</div>
{% endblock %}