{% extends "index.html" %}
{% block adddomain_active %} active {% endblock %}
{% block content %}
		<div class="panel panel-primary">
		<div class="panel-heading">Add Domain</div>
		<div class="clearfix visible-xs"></div>
		<div class="panel-body">
			{% if bl_dict.black_list %}
				<div class="col-md-8 col-md-offset-2">
					<p class="text-error">{{ bl_dict.result }}</p>
				</div>
			{% endif %}
			<form action="/landing/add-domain/" method="post">
				{% csrf_token %}
				<p class="text-error">{{ form.domain_name.errors.as_text }}</p>
				<table class="table table-bordered">
					{{ form.as_table }}
				</table>
				<input type="submit" class="btn btn-primary" value="Add Domain" />
				<a class="btn btn-primary" href="/landing/add-domain-bulk/">Bulk add</a>
			</form>
		</div>
	</div>
{% endblock %}