{% extends "index.html" %}
{% block domainconf_active %} active {% endblock %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function () {
        	$('.configure_btn').click(function(){
        		var domain_data = $(this).data("domain");
        		var subdomain_data = $(this).data("subdomain");
        		var ip_address_data = $(this).data("ipaddress");
        		console.log(ip_address_data);
        		if ((subdomain_data != "None") && (ip_address_data != "None")){
	        		$.post( 
			            "/landing/config-domain/",
			            { domain: domain_data,subdomain:subdomain_data,
			            ip_address:ip_address_data,"csrfmiddlewaretoken" :getCookie('csrftoken') },
			            function(data){
			            	window.location = "/landing/view-dns-hosts/?domain="+domain_data+"&subdomain="+subdomain_data+"&ip_address="+ip_address_data;
			            }
			        );
        		}
        		else{
        			$("#id_domain_name").val(domain_data);
        		}
        	});
        	$(".view_btn").click(function(){
        		window.location = $(this).data("url");
        	});
        });
		function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	            return cookieValue;
	        }
	    }
    </script>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">Domain configuration</div>
	<div class="panel-body row">
		<div class="col-md-12">
			<p>List of available domains</p>
		</div>
		<div class="clearfix"></div>
		{% if domains %}
		<div class="col-md-12">
			<table class="table table-bordered">
				<tr>
					<th>Domain name</th>
					<th>Subdomain</th>
					<th>IP Address</th>
					<th>Availability</th>
					<th>Controls</th>
				</tr>
				{% for domain in domains %}
					<tr>
						<td>{{ domain.domain_name }}</td>
						<td>{{ domain.subdomain_name }}</td>
						<td>{{ domain.ip_address }}</td>
						<td>{{ domain.availability }}</td>
						<td><button class="btn btn-primary btn-xs configure_btn" data-domain="{{ domain.domain_name }}" data-subdomain="{{ domain.subdomain_name }}"  data-ipaddress={{ domain.ip_address }}>Configure</button>
						{% if domain.availability == "nonavailable" %}
							<button class="view_btn btn btn-warning btn-xs" data-url="/landing/view-dns-hosts/?domain={{domain.domain_name}}&subdomain={{domain.subdomain_name}}&ip_address={{domain.ip_address}}">View info</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
			<div class="col-md-4 col-md-offset-5">
				<div class="pagination">
				    <span class="step-links">
				        {% if domains.has_previous %}
				            <a href="?page={{ domains.previous_page_number }}">previous</a>
				        {% endif %}

				        <span class="current">
				            Page {{ domains.number }} of {{ domains.paginator.num_pages }}
				        </span>

				        {% if domains.has_next %}
				            <a href="?page={{ domains.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="col-md-4 col-md-offset-4">
			<form action="/landing/config-domain/" method="post">
				{% csrf_token %}
				<table class="table table-bordered">
					<tr>
						<td>{{ form.ip_address.label }}</td>
						<td>{{ form.ip_address }} 
							<p class="text-error"><small>{{ form.ip_address.errors.as_text }}</small></p>
						</td>
					</tr>
					<tr>
						<td>{{ form.domain_name.label }}</td>
						<td>{{ form.domain_name }}
							<p class="text-error"><small>{{ form.domain_name.errors.as_text }}</small></p>
						</td>
					</tr>
					<tr>
						<td>{{ form.subdomain_name.label }}</td>
						<td>{{ form.subdomain_name }}
							<p class="text-error"><small>{{ form.subdomain_name.errors.as_text }}</small></p>
						</td>
					</tr>
				</table>
				<input type="submit" class="btn btn-primary" value="Configure " />
			</form>
		</div>
	
	</div>
	
</div>
{% endblock %}