{% extends "index.html" %}
{% block adddomain_active %} active {% endblock %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function () {
        	$('#config-btn').click(function(){
        		var domain_data = $(this).data("domain");
        		var subdomain_data = $(this).data("subdomain");
        		var ip_address_data = $(this).data("ipaddress");
        		alert("asd");
        		$.post( 
		            "/landing/config-domain/",
		            { domain: domain_data,subdomain:subdomain_data,
		            ip_address:ip_address_data,"csrfmiddlewaretoken" :getCookie('csrftoken') },
		            function(data){
		            	window.location = "/landing/view-dns-hosts/?domain="+domain_data+"&subdomain="+subdomain_data+"&ip_address="+ip_address_data;
		            }
		        );
        	});
        	$(".view_btn").click(function(){
        		window.location = $(this).data("url");
        	});
        });
		function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	            return cookieValue;
	        }
	    }
    </script>
{% endblock %}
{% block content %}
		<div class="panel panel-primary">
		<div class="panel-heading">Edit Domain</div>
		<div class="clearfix visible-xs"></div>
		<div class="panel-body">
			{% if bl_dict.black_list %}
				<p class="bg-error">The entry is blacklisted</p>
			{% endif %}
			<form action="/landing/edit-domain/" method="post">
				{% csrf_token %}
				<table class="table table-bordered">
					{{ form.as_table }}
					<input type="hidden" name="id" value="{{ domain_entry.id }}"/>
				</table>
				<input type="Submit" class="btn btn-primary" value="Edit Domain" />
			</form>
		</div>
	</div>
{% endblock %}