{% extends "index.html" %}
{% block viewdomains_active %} active {% endblock %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function () {
        	$('.configure_btn').click(function(){
        		var domain_data = $(this).data("domain");
        		var subdomain_data = $(this).data("subdomain");
        		var ip_address_data = $(this).data("ipaddress");
        		$.post( 
		            "/landing/config-domain/",
		            { domain: domain_data,subdomain:subdomain_data,
		            ip_address:ip_address_data,"csrfmiddlewaretoken" :getCookie('csrftoken') },
		            function(data){
		            	window.location = "/landing/view-dns-hosts/?domain="+domain_data+"&subdomain="+subdomain_data+"&ip_address="+ip_address_data;
		            }
		        );
        	});
        	$(".view_btn").click(function(){
        		window.location = $(this).data("url");
        	});
        });
		function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	            return cookieValue;
	        }
	    }
    </script>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">Show Domains</div>
	<div class="panel-body row">
		<div class="col-md-4">
			A list of domains
		</div>
		<div class="clearfix"></div>
		{% if domains %}
		<div class="col-md-12">
			<table class="table table-bordered">
				<tr>
					<th>Domain name</th>
					<th>Availability</th>
					<th>Controls</th>
				</tr>
				{% for domain in domains %}
					<tr>
						<td>{{ domain.domain_name }}</td>
						<td>{{ domain.availability }}</td>
						<td>
							{% if domain.availability == "nonavailable" %}
							<button class="view_btn btn btn-warning btn-xs" data-url="/landing/view-dns-hosts/?domain={{domain.domain_name}}&subdomain={{domain.subdomain_name}}&ip_address={{domain.ip_address}}&availability={{domain.availability}}">View info</button>
							{% endif %}
						<a class="btn btn-success btn-xs" href="/landing/edit-domain/?id={{domain.id}}">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</table>
			<div class="col-md-4 col-md-offset-5">
				<div class="pagination">
				    <span class="step-links">
				        {% if domains.has_previous %}
				            <a href="?page={{ domains.previous_page_number }}">previous</a>
				        {% endif %}

				        <span class="current">
				            Page {{ domains.number }} of {{ domains.paginator.num_pages }}.
				        </span>

				        {% if domains.has_next %}
				            <a href="?page={{ domains.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}