{% extends "index.html" %}
{% block log_active %} active {% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">Node Entry</div>
	<div class="panel-body">
		<a class="btn btn-primary btn-sm" href="/landing/update-vpsnode/?id={{node_id}}">EDIT NODE</a>

		<div class="clearfix"></div>
		{% if not notice and notice.strip %}
			<div class="alert alert-success">
				<p>Successfully added node.</p>
			</div>
		{% endif %}
			{% csrf_token %}
			<table class="table table-bordered">
				<tr>
					<td>IP Address</td><td>{{ form_dict.ip_address }}</td>
				</tr>
				<tr>
					<td>Domain Name</td><td>{{ form_dict.domain_name }}</td>
				</tr>
				<tr>
					<td>Reverse Domain</td><td>{{ form_dict.reverse_domain }}</td>
				</tr>
				<tr>
					<td>Host URL</td><td>{{ form_dict.host_url }}</td>
				</tr>
				<tr>
					<td>Account Email</td><td>{{ form_dict.account_email }}</td>
				</tr>
				<tr>
					<td>Account Password</td><td>{{ form_dict.account_password }}</td>
				</tr>
				<tr>
					<td>Root Password</td><td>{{ form_dict.root_password }}</td>
				</tr>
				<tr>
					<td>Cpanel URL</td><td>{{ form_dict.cpanel_url }}</td>
				</tr>
				<tr>
					<td>Cpanel Username</td><td>{{ form_dict.cpanel_username }}</td>
				</tr>
				<tr>
					<td>Cpanel Password</td><td>{{ form_dict.cpanel_password }}</td>
				</tr>
					<td>Price</td><td>{{ form_dict.price }}</td>
				<tr>
					<td>Notes</td><td>{{ form_dict.notes }}</td>
				</tr>
				<tr>
					<td>Date Added</td><td>{{ form_dict.date_added }}</td>
				</tr>
				<tr>
					<td>Status</td><td>{{ form_dict.status }}</td>
				</tr>
				<tr>
					<td>Comment</td><td>{{ form_dict.comment }}</td>
				</tr>

			</table>
		</form>
	</div>
</div>
{% endblock %}