{% extends "index.html" %}
{% block log_active %} active {% endblock %}
{% block content %}
	<div class="panel panel-primary" id="add-node-panel">
		<div class="panel-heading">View Nodes</div>
		<div class="clearfix visible-xs"></div>
		<div class="panel-body">
			<div class="">
			<form action="/landing/view-logs/" method="post">
				{% csrf_token %}
				<table class="table table-bordered" id="nodetable">
					<tr>
						<th>IP Address</th>
						<th> <a href="/landing/view-logs/?sort=domain&order={{order}}">Domain Name</a></th>
						<th>Reverse Domain</th>
						<th>Host URL</th>
						<th><a href="/landing/view-logs/?sort=email&order={{order}}">Account Email</a></th>
						<th>Cpanel URL</th>
						<th width="60px"><a href="/landing/view-logs/?sort=status&order={{order}}">Status</a></th>
						<th width="80px"><a href="/landing/view-logs/?sort=date&order={{order}}">Date Added</a></th>
					</tr>
					{% for vpsnode in vpsnodes %}
						<tr>
							<td>{{ vpsnode.ip_address }}</td>
							<td><a data-toggle="tooltip" title="{{vpsnode.domain_name}}" href="/landing/view_node/{{vpsnode.id}}/">{{ vpsnode.domain_name }}</a></td>
							<td>{{ vpsnode.reverse_domain }}</td>
							<td>{{ vpsnode.host_url }}</td>
							<td>{{ vpsnode.account_email }}</td>
							<td>{{ vpsnode.cpanel_url }}</td>
							<td>{{ vpsnode.status }}</td>
							<td>{{ vpsnode.date_added }}</td>
						</tr>
					{% endfor %}
				</table>
			</form>
			</div>
		</div>
	</div>
{% endblock %}