{% extends "index.html" %}
{% block domainconf_active %} active {% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">Domain hosts</div>
	<div class="panel-body">
		<div class="clearfix"></div>
		<div class="alert alert-success">
			Domain: {{ domain }}, 
			IP Address: {{ ip }},
			Subdomain: {{ subdomain }},
		</div>
		<form action="/landing/config-domain/" method="post">
			{% csrf_token %}
			<table class="table table-bordered">
				<tr>
					<th> HOST ID </th>
					<th> NAME </th>
					<th> ADDRESS </th>
					<th> RECORD TYPE </th>
					<th> MX PREF </th>
					<th> TTL </th>					
				</tr>
				{% for host in hosts %}
					<tr>
						<td>{{ host.HostId }}</td>
						<td>{{ host.Name }}</td>
						<td>{{ host.Address }}</td>
						<td>{{ host.Type }}</td>
						<td>{{ host.MXPref }}</td>
						<td>{{ host.TTL }}</td>
					</tr>
				{% endfor %}
				<tr>
			</table>
		</form>
		<div class="col-md-4">
			<a href="/landing/edit-domain/?id={{domain_id}}">Edit</a>
		</div>
	</div>
</div>
{% endblock %}