{% extends "index.html" %}
{% block node_active %} active {% endblock %}
{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">Add VPS Node</div>
		{% if notice.error_message and notice.error_message.strip %}
			<div class="alert alert-success">
				{{ notice.success_message }}
			</div>
		{% elif notice.success_message and notice.success_message.strip %}
			<div class="alert alert-danger">
				{{ notice.error_message }}
			</div>
		{% else %}
		{% endif %}
		{% if bl_result.black_list %}
			<div class="alert alert-danger">
				The domain you entered is blacklisted.
				<p>{{ bl_result.result }}</p>
			</div>
		{% endif %}
		{% if rev_result.gethosterror %}
			<div class="alert alert-danger">
				<p>{{ rev_result.error_message }}</p>
			</div>
		{% elif rev_result.match %}
			<div class="alert alert-danger">
				<p>{{ rev_result.check_message }}</p>
			</div>
		{% endif %}
		<div class="panel-body">
			<div class="clearfix"></div>
			<p>Edit VPS Node</p>
			<form action="/landing/update-vpsnode/" method="post">
				{% csrf_token %}
				<table class="table">
					<tr>
						<td>{{ form.ip_address.label }}</td>
						<td>{{ form.ip_address }} 
								<small class="red_font">{{form.ip_address.errors.as_text}}</small>
						</td>
						<td>{{ form.domain_name.label }}</td>
						<td>{{ form.domain_name }} 
							<small class="red_font">{{form.domain_name.errors.as_text}}</small></td>
					</tr>
					<tr>
						<td>{{ form.reverse_domain.label }}</td>
						<td>{{ form.reverse_domain }} 
							<small class="red_font">{{form.domain.errors.as_text}}</small></td>
						<td>{{ form.host_url.label }}</td>
						<td>{{ form.host_url }}
							<small class="red_font">{{form.host_url.errors.as_text}}</small>
						</td>
					</tr>
					<tr>
						<td>{{ form.account_email.label }}</td>
						<td>{{ form.account_email }} <small class="red_font">{{form.account_email.errors.as_text}}</small></td>
						<td>{{ form.account_password.label }}</td>
						<td>{{ form.account_password }}</td>
					</tr>
					<tr>
						<td>{{ form.root_password.label }}</td>
						<td>{{ form.root_password }}</td>
						<td>{{ form.cpanel_url.label }}</td>
						<td>{{ form.cpanel_url }} <small class="red_font">{{form.cpanel_url.errors.as_text}}</small></td>
					</tr>
					<tr>
						<td>{{ form.cpanel_username.label }}</td>
						<td>{{ form.cpanel_username }}</td>
						<td>{{ form.cpanel_password.label }}</td>
						<td>{{ form.cpanel_password }}</td>
					</tr>
					<tr>
						<td>{{ form.price.label }}</td>
						<td>{{ form.price }}</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>{{ form.notes.label }}</td>
						<td colspan="3">{{ form.notes }}</td>
					</tr>
					<tr><td>{{ form.comment.label }}</td><td>{{ form.comment }}</td><td>{{ form.status.label }}</td><td>{{ form.status }}</td></tr>
					<input type="hidden" name="vpsnode_id" value="{{ node_id }}">
				</table>
				<input type="submit" class="btn btn-primary" value="Edit Node" />
			</form>
		</div>
	</div>
	{{ try }}
{% endblock %}