{% extends "index.html" %}
{%block home_active %}active{%endblock%}
{% block login_content %}
<div class="col-md-8">
    <div class="panel panel-primary">
            <div class="panel-heading">LOGIN</div>
            <div class="panel-body">
                <table class="table">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <tr>
                            <th>{{ form.username.label }}</th>
                            <td>{{ form.username }} <p>{{ form.username.errors.as_text }}</p></td>
                        </tr>
                        <tr>
                            <th>{{ form.password.label }}</th>
                            <td>{{ form.password }} <p>{{ form.password.errors.as_text }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input class="btn btn-primary" type="submit" name="login" value="Login"/></td>
                        </tr>
                    </form>
                </table>
            </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">XMANAGER PANEL</div>
            <div class="panel-body"> 
                <h3><p>Welcome to the XMANAGER panel!</p></h3>
                <p>To access the django admin panel, <a href="/admin/">click here</a>.</p>
                {% if warning and warning.strip %}
                    <h3 class="bg-warning">You havent registered a namecheap account yet! please go to <a href="/admin/">Django admin</a> and register one.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}