<!DOCTYPE HTML>
<html>
<head>
	<title></title>
	<meta charset="utf-8">  
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	{% block extra_head %}
	{% endblock %}
</head>
<body>
	<div id="main">
		{% if user.is_authenticated %}
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked menu">
					<li class="{%block home_active %}{%endblock%}"><a href="/">Home</a></li>
					<li class="{%block node_active %}{%endblock%}"><a href="/landing/add-node/">Add Node</a></li>
					<li class="{%block domainconf_active%}{%endblock%}"><a href="/landing/config-domain/">Domain Config</a></li>
					<li class="{%block log_active %}{%endblock%}"><a href="/landing/view-logs/">Log</a></li>
					<li class="{%block viewdomains_active%}{%endblock%}"><a href="/landing/view-domains/">Show domains</a></li>
					<li class="{%block adddomain_active %}{%endblock%}"><a href="/landing/add-domain/">Add domains</a></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</div>
		<div class="col-md-10" id="panel-right">
			{% block content %} {% endblock %}
		</div>
		{% else %}
			<div class="col-xs-12 col-md-6">
				{% block login_content %} {% endblock %}
			</div>
		{% endif %}
	</div>
</body>
</html>
